{
  "db": {
    "host": "localhost",
    "database": "ridetime",
    "user": "",
    "password": ""
  },
  {
    "aws": {
      "region": "",
      "key": "",
      "secret": "",
      "s3bucket": ""
    }
  }
}